@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* La variable que viene de layout.tsx debe llamarse igual aquí */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --font-jersey: var(--font-jersey); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Cambia Arial por tu variable de fuente */
  font-family: var(--font-jersey), ui-sans-serif, system-ui;
}